.ai2 {
  color: var(--color-yellowgreen);
}
.text67 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.texttext32 {
  position: absolute;
  height: 100%;
  width: 75%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 34.19%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.logo-inner {
  position: absolute;
  height: 100%;
  width: 30.77%;
  top: 0%;
  right: 69.23%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo2 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 117px;
  height: 32px;
  font-size: var(--cn-regular2-size);
  color: var(--light-text-color-text-1);
  font-family: var(--en-medium);
}
.text68 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.tipsquestion-circle-icon20 {
  position: relative;
  width: 16px;
  height: 16px;
}
.icon-wrapper41 {
  align-self: stretch;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text69 {
  position: relative;
  line-height: 22px;
}
.texttext33 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--cn-regular-size);
  color: var(--light-text-color-text-3);
  font-family: var(--font-pingfang-sc);
}
.texttitle10 {
  position: absolute;
  top: 20px;
  left: 922px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.generalnotification-icon2 {
  position: absolute;
  top: 16px;
  left: 1130px;
  width: 32px;
  height: 32px;
}
.height-icon2 {
  width: 0px;
  height: 6px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.width-child2 {
  position: relative;
  width: 0px;
  height: 0px;
}
.width2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.dot2 {
  border-radius: var(--br-81xl);
  background-color: var(--light-danger-danger-6);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badgedot2 {
  position: absolute;
  top: 16px;
  left: calc(50% + 436px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tipsinfo-circle-fill-icon4 {
  position: absolute;
  top: 16px;
  left: 1078px;
  width: 32px;
  height: 32px;
}
.placeholder6 {
  position: relative;
  background-color: var(--light-fill-color-bg-white);
  width: 0px;
  height: 0px;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar2 {
  position: absolute;
  top: 16px;
  left: 1182px;
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  background-image: url("./public/avatar@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.generalapps-icon4 {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-change-size-here4 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper12 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.header13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xs);
  gap: var(--gap-base);
}
.vertical-menu-item2rd-level20 {
  align-self: stretch;
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-4xs)
    var(--padding-11xl);
}
.vertical-menu-item2rd-level21 {
  align-self: stretch;
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-4xs)
    var(--padding-11xl);
}
.submenu4 {
  align-self: stretch;
  background-color: var(--light-fill-color-bg-white);
  box-shadow: var(--shadow-);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  color: var(--light-text-color-text-1);
}
.vertical-menu-item1st-level4 {
  border-radius: var(--br-11xs);
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.vertical-menu-item3 {
  position: absolute;
  top: 12px;
  left: 1225px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--cn-regular-size);
}
.background3 {
  position: absolute;
  top: 64px;
  left: 0px;
  background-color: var(--light-primary-primary-10);
  width: 100%;
  height: 279px;
  overflow: hidden;
}
.texttitle11 {
  position: absolute;
  top: calc(50% - 12px);
  left: 378px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.texttitle12 {
  position: absolute;
  top: calc(50% - 12px);
  left: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  color: var(--light-text-color-text-1);
}
.tipsinfo-circle-fill-icon5 {
  position: absolute;
  top: 0px;
  left: 431px;
  width: 24px;
  height: 24px;
}
.texttitle-container {
  position: absolute;
  top: calc(50% - 151.5px);
  left: 440px;
  width: 455px;
  height: 24px;
  color: var(--light-danger-danger-6);
}
.menu2 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--light-fill-color-bg-white);
  width: 100%;
  height: 343px;
  overflow: hidden;
  font-size: var(--cn-regular1-size);
}
.text74 {
  position: relative;
  line-height: 44px;
  font-weight: 500;
}
.texttitle13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.text76 {
  position: relative;
  line-height: 32px;
}
.texttext37 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 700px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--cn-regular2-size);
}
.texttext38 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.tipsplus-icon23 {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-text23 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  cursor: pointer;
}
.button21 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xs) 0px 0px var(--br-11xs);
  background-color: var(--light-success-success-6);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  gap: var(--gap-5xs);
  color: var(--light-fill-color-bg-white);
}
.button22 {
  position: absolute;
  top: 0px;
  left: 164px;
  border-radius: 0px var(--br-11xs) var(--br-11xs) 0px;
  background-color: var(--light-success-success-1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.button23 {
  position: absolute;
  top: 0px;
  left: 102px;
  background-color: var(--light-success-success-1);
  border-right: 1px solid var(--light-line-color-border-2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.vip-icon18 {
  position: absolute;
  top: 5px;
  left: 249px;
  width: 15px;
  height: 12px;
}
.vip-icon19 {
  position: absolute;
  top: 5px;
  left: 147px;
  width: 15px;
  height: 12px;
}
.mode32 {
  position: absolute;
  top: 0px;
  left: 187px;
  width: 266px;
  height: 32px;
  font-size: var(--cn-regular-size);
  color: var(--light-success-success-6);
}
.mode2 {
  position: absolute;
  top: 121px;
  left: 124px;
  width: 453px;
  height: 32px;
  font-size: var(--cn-regular1-size);
}
.icon23 {
  position: relative;
  width: 8px;
  height: 8px;
  display: none;
}
.tipsquestion-circle-icon24 {
  position: relative;
  width: 14px;
  height: 14px;
  display: none;
}
.div23 {
  position: relative;
  line-height: 22px;
  font-family: var(--font-pingfang-sc);
  text-align: right;
  display: none;
  width: 2px;
  flex-shrink: 0;
}
.label-item10 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-5xs);
  gap: var(--gap-9xs);
  font-family: var(--cn-regular);
}
.wrapper13 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.addbefore4 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  border-right: 1px solid var(--light-line-color-border-2);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-xs);
}
.content32 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.spacer27 {
  position: relative;
  width: 4px;
  height: 4px;
}
.spacer26 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.wrapper14 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--light-line-color-border-2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xs);
  text-align: left;
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.addafter6 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  border-left: 1px solid var(--light-line-color-border-2);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-xs);
}
.input5 {
  align-self: stretch;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--light-text-color-text-1);
}
.ignore4 {
  position: relative;
  width: 0px;
  height: 0px;
  overflow: hidden;
  flex-shrink: 0;
}
.balancer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.message2 {
  flex: 1;
  position: relative;
  line-height: 20px;
  display: none;
}
.extra2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--en-regular-20-size);
  color: var(--light-text-color-text-3);
}
.form-item12 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 660px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-pingfang-sc);
}
.label-item11 {
  width: 660px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.button24 {
  position: absolute;
  top: 0px;
  left: 133.4px;
  border-radius: var(--br-11xs);
  background-color: var(--light-primary-primary-7);
  width: 251.4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--light-fill-color-bg-white);
}
.button25 {
  position: absolute;
  top: 0px;
  left: 494.3px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 165.7px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.vip-icon20 {
  position: absolute;
  top: 5px;
  left: 621px;
  width: 15px;
  height: 12px;
}
.button26 {
  position: absolute;
  top: 0px;
  left: 391.8px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 95.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.button27 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 126.4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.vip-icon21 {
  position: absolute;
  top: 5px;
  left: 458px;
  width: 15px;
  height: 12px;
}
.mode42 {
  position: relative;
  width: 660px;
  height: 32px;
}
.form-item22 {
  position: absolute;
  top: 102px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-xl);
}
.input6 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 660px;
  height: 603px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-container {
  position: relative;
  width: 660px;
  height: 274px;
  overflow-y: auto;
  flex-shrink: 0;
  text-align: center;
  color: var(--light-text-color-text-1);
  font-family: var(--font-pingfang-sc);
}
.form-item32 {
  position: absolute;
  top: 184px;
  left: 20px;
  height: 304px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.to-cu-hi2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: var(--br-11xs);
  background-color: var(--light-success-success-6);
  width: 660px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--light-fill-color-bg-white);
}
.div26 {
  position: relative;
  width: 8px;
  height: 8px;
  display: none;
  z-index: 0;
}
.title45 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  z-index: 1;
}
.tipsquestion-circle-icon27 {
  position: relative;
  width: 14px;
  height: 14px;
  display: none;
  z-index: 2;
}
.div27 {
  position: relative;
  line-height: 22px;
  font-family: var(--font-pingfang-sc);
  text-align: right;
  display: none;
  width: 2px;
  flex-shrink: 0;
  z-index: 3;
}
.vip-icon22 {
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 105px;
  width: 15px;
  height: 12px;
  z-index: 4;
}
.label-item13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.body10 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0px;
}
.directiondown-icon16 {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper45 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.select9 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 265px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.generallocation-icon16 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.title47 {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 22px;
}
.wrap16 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.directionright-icon17 {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.componentsdropdownmenu-item16 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.componentsdropdownmenu-item17 {
  align-self: stretch;
  background-color: var(--light-fill-color-bg-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.dropdown-menu4 {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  border-radius: var(--br-9xs);
  background-color: var(--light-fill-color-bg-white);
  box-shadow: var(--shadow-);
  border: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px;
}
.dropdown-menu-wrapper2 {
  position: absolute;
  top: 37px;
  left: 0px;
  width: 265px;
  height: 105px;
  overflow-y: auto;
  color: var(--light-text-color-text-1);
}
.number-question3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 265px;
  height: 34px;
  overflow: hidden;
  color: var(--light-text-color-text-3);
}
.label-item-parent2 {
  position: absolute;
  top: 508px;
  left: 415px;
  width: 265px;
  height: 62px;
}
.vip-icon23 {
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 99px;
  width: 15px;
  height: 12px;
  z-index: 4;
}
.label-item14 {
  position: absolute;
  top: calc(50% - 31px);
  left: 0px;
  width: 373px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.select10 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 373px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.bg25 {
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-bg-white);
  border: 2px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.checkbox-input25 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox25 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0px;
  gap: var(--gap-5xs);
}
.checkbox-group5 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-9xs);
  width: 180px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
}
.checkbox-group-wrapper2 {
  position: absolute;
  top: 37px;
  left: 0px;
  border-radius: var(--br-9xs);
  background-color: var(--light-fill-color-bg-white);
  border: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 373px;
  height: 168px;
  overflow: hidden;
  color: var(--light-text-color-text-1);
}
.kindofquestion3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 373px;
  height: 32px;
  overflow: hidden;
  color: var(--light-text-color-text-3);
}
.label-item-parent3 {
  position: absolute;
  top: 508px;
  left: 20px;
  width: 373px;
  height: 62px;
}
.form-createqs2 {
  position: absolute;
  top: 173px;
  left: 0px;
  border-radius: var(--br-5xs);
  background-color: var(--light-fill-color-bg-white);
  box-shadow: var(--shadow-1);
  width: 700px;
  height: 642px;
  overflow-y: auto;
  font-size: var(--cn-regular-size);
  color: var(--light-text-color-text-2);
}
.content31 {
  position: absolute;
  top: 94px;
  left: 370px;
  border-radius: var(--br-5xs);
  width: 700px;
  height: 815px;
  overflow: hidden;
  font-size: var(--cn-medium1-size);
  color: var(--light-fill-color-bg-white);
}
.button28 {
  position: absolute;
  height: 100%;
  top: 0%;
  right: 113px;
  bottom: 0%;
  border-radius: var(--br-11xs);
  background-color: var(--light-success-success-6);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.button29 {
  position: absolute;
  height: 100%;
  top: 0%;
  right: 0px;
  bottom: 0%;
  border-radius: var(--br-11xs);
  background-color: var(--light-success-success-6);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.cng-c1 {
  position: absolute;
  top: 989px;
  right: 445px;
  width: 288px;
  height: 32px;
  color: var(--light-fill-color-bg-white);
}
.surface11 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: var(--br-5xs);
  background-color: var(--light-primary-primary-1);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 701px;
  height: 2843px;
}
.surface12 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-9xs);
  background-color: var(--light-fill-color-bg-white);
  box-shadow: var(--shadow-);
  width: 660px;
  height: 409px;
}
.address8 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  color: var(--light-text-color-text-3);
  display: none;
}
.header14 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-9xl);
  gap: var(--gap-9xs);
}
.m-bo-bn {
  position: relative;
  line-height: 20px;
}
.yingdu-building-zhichun8 {
  position: relative;
  line-height: 20px;
  display: none;
}
.row8 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.header-parent6 {
  position: absolute;
  top: 52px;
  left: 20px;
  width: 620px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--en-regular-20-size);
  font-family: var(--en-medium);
}
.div30 {
  position: absolute;
  top: 20px;
  left: 20px;
  line-height: 22px;
  font-weight: 600;
  font-family: var(--en-medium);
  display: inline-block;
  width: 599px;
}
.generalpen-icon8 {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 21px;
  height: 22px;
  cursor: pointer;
}
.texttext39 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text80 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-11xs) 0px 0px var(--br-11xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-base);
}
.icon-wrapper47 {
  position: absolute;
  top: 9px;
  left: 9px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon26 {
  align-self: stretch;
  position: relative;
  border-radius: 0px var(--br-11xs) var(--br-11xs) 0px;
  background-color: var(--light-primary-primary-7);
  border-left: 1px solid var(--light-primary-primary-5);
  box-sizing: border-box;
  width: 32px;
}
.dropdown-trigger17 {
  border-radius: var(--br-11xs);
  background-color: var(--light-primary-primary-6);
  /* width: 156px; */
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.dropdown-trigger16 {
  position: absolute;
  top: 154px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--light-fill-color-bg-white);
}
.switch-dotdefault-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-base);
  background-color: var(--light-fill-color-bg-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.spacer31 {
  position: relative;
  width: 8px;
  height: 8px;
}
.icon27 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.switch9 {
  border-radius: var(--br-5xl);
  background-color: var(--light-fill-color-fill-4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px var(--padding-9xs) var(--padding-9xs);
  gap: var(--gap-7xs);
}
.delete8 {
  position: absolute;
  right: 0px;
  bottom: 2px;
  border-top: 2px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 660px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
}
.phng-n-ng {
  font-weight: 500;
  font-family: var(--cn-regular);
}
.phng-n-ng-l {
  color: var(--light-text-color-text-1);
}
.phng-n-ng-l-a-m-bo {
  margin: 0;
}
.gii-thch-xem-xt-danh-mc {
  margin: 0;
  color: var(--light-text-color-text-1);
}
.texttext40 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 620px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.texttext-wrapper {
  position: absolute;
  top: 180px;
  left: 20px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-1);
  border: 2px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 620px;
  height: 142px;
  overflow: hidden;
  color: var(--light-success-success-6);
}
.answer1 {
  position: relative;
  width: 660px;
  height: 409px;
  font-family: var(--cn-regular);
}
.surface13 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: var(--br-9xs);
  background-color: var(--light-fill-color-bg-white);
  box-shadow: var(--shadow-);
  border: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 661px;
  height: 268px;
}
.name {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.header-parent7 {
  position: absolute;
  top: 74px;
  left: 20px;
  width: 620px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--en-regular-20-size);
}
.div31 {
  position: absolute;
  top: 20px;
  left: 20px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 599px;
}
.generalpen-icon9 {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 21px;
  height: 22px;
}
.icon28 {
  align-self: stretch;
  position: relative;
  border-radius: 0px var(--br-11xs) var(--br-11xs) 0px;
  background-color: var(--light-primary-primary-6);
  border-left: 1px solid var(--light-primary-primary-5);
  box-sizing: border-box;
  width: 32px;
}
.dropdown-trigger18 {
  position: absolute;
  top: 176px;
  left: 20px;
  border-radius: var(--br-11xs);
  background-color: var(--light-primary-primary-6);
  /* width: 156px; */
  height: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--light-fill-color-bg-white);
  font-family: var(--cn-regular);
}
.delete9 {
  position: absolute;
  top: 223px;
  right: 0px;
  border-top: 2px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 660px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
  font-family: var(--cn-regular);
}
.question21 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 660px;
  height: 267px;
}
.surface14 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: var(--br-9xs);
  background-color: var(--light-fill-color-bg-white);
  box-shadow: var(--shadow-);
  border: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 661px;
  height: 391px;
}
.header-parent8 {
  position: absolute;
  top: 74px;
  left: 20px;
  width: 620px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--en-regular-20-size);
  font-family: var(--en-medium);
}
.dropdown-trigger19 {
  position: absolute;
  top: 176px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--light-fill-color-bg-white);
}
.delete10 {
  position: absolute;
  top: 346px;
  right: 0px;
  border-top: 2px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 660px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
}
.texttext-container {
  position: absolute;
  top: 228px;
  left: 20px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-1);
  border: 2px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 620px;
  height: 98px;
  overflow: hidden;
  color: var(--light-success-success-6);
}
.question31 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 660px;
  height: 390px;
  font-family: var(--cn-regular);
}
.surface17 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: var(--br-9xs);
  background-color: var(--light-fill-color-bg-white);
  box-shadow: var(--shadow-);
  border: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 661px;
  height: 246px;
}
.header-parent11 {
  position: absolute;
  top: 52px;
  left: 20px;
  width: 620px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--en-regular-20-size);
}
.dropdown-trigger23 {
  position: absolute;
  top: 154px;
  left: 20px;
  border-radius: var(--br-11xs);
  background-color: var(--light-primary-primary-6);
  /* width: 156px; */
  height: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--light-fill-color-bg-white);
  font-family: var(--cn-regular);
}
.delete13 {
  position: absolute;
  top: 201px;
  right: 0px;
  border-top: 2px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 660px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
  font-family: var(--cn-regular);
}
.question51 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 660px;
  height: 245px;
}
.more-qs1 {
  position: absolute;
  top: 24px;
  left: 20px;
  height: 2507px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.questionss1 {
  position: absolute;
  top: 1051px;
  left: 370px;
  border-radius: var(--br-5xs);
  width: 700px;
  height: 700px;
  overflow-y: auto;
  color: var(--light-text-color-text-1);
  font-family: var(--en-medium);
}
.showtotal1 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  color: var(--light-text-color-text-1);
  font-family: var(--font-pingfang-sc);
}
.componentspagination-prev2 {
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.number11 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.componentspagination-item11 {
  border-radius: var(--br-11xs);
  background-color: var(--light-primary-primary-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs);
  color: var(--light-primary-primary-6);
}
.componentspagination-item12 {
  border-radius: var(--br-11xs);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs);
}
.componentspagination-prev3 {
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.body12 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0px;
}
.sizecanchange1 {
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs);
  gap: var(--gap-9xs);
  text-align: left;
  color: var(--light-text-color-text-1);
  font-family: var(--font-pingfang-sc);
}
.addbefore6 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  border-right: 1px solid var(--light-line-color-border-2);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-base);
}
.wrapper18 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-base);
  text-align: left;
}
.addafter8 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  border-left: 1px solid var(--light-line-color-border-2);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-base);
}
.input7 {
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--light-text-color-text-1);
  font-family: var(--font-pingfang-sc);
}
.jump-wrapper1 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.pagination1 {
  position: absolute;
  top: 8px;
  left: 556px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text112 {
  position: relative;
  line-height: 24px;
}
.texttext51 {
  position: absolute;
  top: 14px;
  left: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: var(--cn-regular1-size);
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.pagination-group {
  position: absolute;
  top: 1781px;
  left: 370px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-bg-white);
  width: 700px;
  height: 52px;
  overflow: hidden;
  text-align: center;
  font-family: var(--en-medium);
}
.text113 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.texttitle14 {
  position: absolute;
  top: calc(50% - 184.5px);
  left: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.componentspagination-item17 {
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  text-align: center;
  color: var(--light-text-color-text-2);
  font-family: var(--en-medium);
}
.componentstable-celltextico5 {
  position: absolute;
  top: 40px;
  left: 16px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-1);
  border-bottom: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 170px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-2xl);
}
.componentstable-celltextico6 {
  position: absolute;
  top: 91px;
  left: 16px;
  border-bottom: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 170px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.componentstable-celltextico7 {
  position: absolute;
  top: 142px;
  left: 16px;
  border-bottom: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 170px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-29xl);
}
.componentstable-celltextico8 {
  position: absolute;
  top: 193px;
  left: 16px;
  border-bottom: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 170px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-32xl);
}
.componentstable-celltextico9 {
  position: absolute;
  top: 244px;
  left: 16px;
  border-bottom: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 170px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-53xl);
}
.title54 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.componentstable-cellheader1 {
  position: absolute;
  top: 0px;
  left: 16px;
  background-color: var(--light-fill-color-bg-white);
  border-bottom: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 170px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-4xs) 0px;
}
.vip-icon24 {
  position: absolute;
  top: 100px;
  left: 122px;
  width: 15px;
  height: 12px;
}
.vip-icon25 {
  position: absolute;
  top: 151px;
  left: 88px;
  width: 15px;
  height: 12px;
}
.vip-icon26 {
  position: absolute;
  top: 202px;
  left: 85px;
  width: 15px;
  height: 12px;
}
.componentstable-celltextico-group {
  position: absolute;
  top: 58px;
  left: 0px;
  background-color: var(--light-fill-color-bg-white);
  width: 202px;
  height: 311px;
  overflow: hidden;
  font-size: var(--cn-regular-size);
}
.question-created1 {
  position: absolute;
  top: 993px;
  left: 148px;
  width: 202px;
  height: 369px;
  font-size: var(--cn-medium-size);
  color: var(--light-text-color-text-1);
}
.answer {
  position: relative;
  background-color: var(--light-primary-primary-1);
  width: 100%;
  height: 1863px;
  text-align: left;
  font-size: var(--cn-regular-size);
  color: var(--light-text-color-text-2);
  font-family: var(--cn-regular);
}
