.ai4 {
  color: var(--color-yellowgreen);
}
.text161 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.texttext72 {
  position: absolute;
  height: 100%;
  width: 75%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 34.19%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.logo-child1 {
  position: absolute;
  height: 100%;
  width: 30.77%;
  top: 0%;
  right: 69.23%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo4 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 117px;
  height: 32px;
  font-size: var(--cn-regular2-size);
  color: var(--light-text-color-text-1);
  font-family: var(--en-medium);
}
.text162 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.tipsquestion-circle-icon40 {
  position: relative;
  width: 16px;
  height: 16px;
}
.icon-wrapper93 {
  align-self: stretch;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text163 {
  position: relative;
  line-height: 22px;
}
.texttext73 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--cn-regular-size);
  color: var(--light-text-color-text-3);
  font-family: var(--font-pingfang-sc);
}
.texttitle20 {
  position: absolute;
  top: 20px;
  left: 922px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.generalnotification-icon4 {
  position: absolute;
  top: 16px;
  left: 1130px;
  width: 32px;
  height: 32px;
}
.height-icon4 {
  width: 0px;
  height: 6px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.width-child6 {
  position: relative;
  width: 0px;
  height: 0px;
}
.width4 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.dot4 {
  border-radius: var(--br-81xl);
  background-color: var(--light-danger-danger-6);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badgedot4 {
  position: absolute;
  top: 16px;
  left: calc(50% + 436px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tipsinfo-circle-fill-icon8 {
  position: absolute;
  top: 16px;
  left: 1078px;
  width: 32px;
  height: 32px;
}
.placeholder12 {
  position: relative;
  background-color: var(--light-fill-color-bg-white);
  width: 0px;
  height: 0px;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar4 {
  position: absolute;
  top: 16px;
  left: 1182px;
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  background-image: url("./public/avatar@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.generalapps-icon6 {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-change-size-here6 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper26 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.header33 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xs);
  gap: var(--gap-base);
}
.vertical-menu-item2rd-level30 {
  align-self: stretch;
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-4xs)
    var(--padding-11xl);
}
.vertical-menu-item2rd-level31 {
  align-self: stretch;
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-4xs)
    var(--padding-11xl);
}
.submenu6 {
  align-self: stretch;
  background-color: var(--light-fill-color-bg-white);
  box-shadow: var(--shadow-);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  color: var(--light-text-color-text-1);
}
.vertical-menu-item1st-level6 {
  border-radius: var(--br-11xs);
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.vertical-menu-item5 {
  position: absolute;
  top: 12px;
  left: 1225px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--cn-regular-size);
}
.background5 {
  position: absolute;
  top: 64px;
  left: 0px;
  background-color: var(--light-primary-primary-10);
  width: 100%;
  height: 279px;
  overflow: hidden;
}
.texttitle21 {
  position: absolute;
  top: calc(50% - 12px);
  left: 378px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.texttitle22 {
  position: absolute;
  top: calc(50% - 12px);
  left: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  color: var(--light-text-color-text-1);
}
.tipsinfo-circle-fill-icon9 {
  position: absolute;
  top: 0px;
  left: 431px;
  width: 24px;
  height: 24px;
}
.texttitle-parent1 {
  position: absolute;
  top: calc(50% - 151.5px);
  left: 440px;
  width: 455px;
  height: 24px;
  color: var(--light-danger-danger-6);
}
.menu4 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--light-fill-color-bg-white);
  width: 100%;
  height: 343px;
  overflow: hidden;
}
.text168 {
  position: relative;
  line-height: 44px;
  font-weight: 500;
}
.texttitle23 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 700px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.text170 {
  position: relative;
  line-height: 32px;
}
.texttext77 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 700px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--cn-regular2-size);
}
.texttext78 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.tipsplus-icon43 {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-text43 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  cursor: pointer;
}
.button39 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xs) 0px 0px var(--br-11xs);
  background-color: var(--light-success-success-6);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  gap: var(--gap-5xs);
  color: var(--light-fill-color-bg-white);
}
.button40 {
  position: absolute;
  top: 0px;
  left: 164px;
  border-radius: 0px var(--br-11xs) var(--br-11xs) 0px;
  background-color: var(--light-success-success-1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.button41 {
  position: absolute;
  top: 0px;
  left: 102px;
  background-color: var(--light-success-success-1);
  border-right: 1px solid var(--light-line-color-border-2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.vip-icon36 {
  position: absolute;
  top: 5px;
  left: 249px;
  width: 15px;
  height: 12px;
}
.vip-icon37 {
  position: absolute;
  top: 5px;
  left: 147px;
  width: 15px;
  height: 12px;
}
.mode34 {
  position: absolute;
  top: 0px;
  left: 187px;
  width: 266px;
  height: 32px;
  font-size: var(--cn-regular-size);
  color: var(--light-success-success-6);
}
.mode6 {
  position: absolute;
  top: 121px;
  left: 124px;
  width: 453px;
  height: 32px;
  font-size: var(--cn-regular1-size);
}
.icon65 {
  position: relative;
  width: 8px;
  height: 8px;
  display: none;
}
.tipsquestion-circle-icon44 {
  position: relative;
  width: 14px;
  height: 14px;
  display: none;
}
.div55 {
  position: relative;
  line-height: 22px;
  font-family: var(--font-pingfang-sc);
  text-align: right;
  display: none;
  width: 2px;
  flex-shrink: 0;
}
.label-item20 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-5xs);
  gap: var(--gap-9xs);
  font-family: var(--cn-regular);
}
.wrapper27 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.addbefore10 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  border-right: 1px solid var(--light-line-color-border-2);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-xs);
}
.content50 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.spacer75 {
  position: relative;
  width: 4px;
  height: 4px;
}
.spacer74 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.wrapper28 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--light-line-color-border-2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xs);
  text-align: left;
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.addafter12 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  border-left: 1px solid var(--light-line-color-border-2);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-xs);
}
.input13 {
  align-self: stretch;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--light-text-color-text-1);
}
.ignore8 {
  position: relative;
  width: 0px;
  height: 0px;
  overflow: hidden;
  flex-shrink: 0;
}
.balancer5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.message4 {
  flex: 1;
  position: relative;
  line-height: 20px;
  display: none;
}
.extra4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--en-regular-20-size);
  color: var(--light-text-color-text-3);
}
.form-item14 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 660px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-pingfang-sc);
}
.label-item21 {
  width: 660px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.button42 {
  position: absolute;
  top: 0px;
  left: 133.4px;
  border-radius: var(--br-11xs);
  background-color: var(--light-primary-primary-7);
  width: 251.4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--light-fill-color-bg-white);
}
.button43 {
  position: absolute;
  top: 0px;
  left: 494.3px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 165.7px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.vip-icon38 {
  position: absolute;
  top: 5px;
  left: 621px;
  width: 15px;
  height: 12px;
}
.button44 {
  position: absolute;
  top: 0px;
  left: 391.8px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 95.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.button45 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 126.4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.vip-icon39 {
  position: absolute;
  top: 5px;
  left: 458px;
  width: 15px;
  height: 12px;
}
.mode44 {
  position: relative;
  width: 660px;
  height: 32px;
}
.form-item24 {
  position: absolute;
  top: 102px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-xl);
}
.kim-tin-trn3 {
  margin: 0;
}
.input14 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 660px;
  height: 603px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-wrapper1 {
  position: relative;
  width: 660px;
  height: 274px;
  overflow-y: auto;
  flex-shrink: 0;
  text-align: center;
  color: var(--light-text-color-text-1);
  font-family: var(--font-pingfang-sc);
}
.form-item34 {
  position: absolute;
  top: 184px;
  left: 20px;
  height: 304px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.to-cu-hi4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: var(--br-11xs);
  background-color: var(--light-success-success-6);
  width: 660px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--light-fill-color-bg-white);
}
.div58 {
  position: relative;
  width: 8px;
  height: 8px;
  display: none;
  z-index: 0;
}
.title73 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  z-index: 1;
}
.tipsquestion-circle-icon47 {
  position: relative;
  width: 14px;
  height: 14px;
  display: none;
  z-index: 2;
}
.div59 {
  position: relative;
  line-height: 22px;
  font-family: var(--font-pingfang-sc);
  text-align: right;
  display: none;
  width: 2px;
  flex-shrink: 0;
  z-index: 3;
}
.vip-icon40 {
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 105px;
  width: 15px;
  height: 12px;
  z-index: 4;
}
.label-item23 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.body16 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0px;
}
.directiondown-icon38 {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper97 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.select13 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 265px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.generallocation-icon24 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.title75 {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 22px;
}
.wrap24 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.directionright-icon27 {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.componentsdropdownmenu-item24 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.componentsdropdownmenu-item25 {
  align-self: stretch;
  background-color: var(--light-fill-color-bg-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.dropdown-menu6 {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  border-radius: var(--br-9xs);
  background-color: var(--light-fill-color-bg-white);
  box-shadow: var(--shadow-);
  border: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px;
}
.dropdown-menu-wrapper4 {
  position: absolute;
  top: 37px;
  left: 0px;
  width: 265px;
  height: 105px;
  overflow-y: auto;
  color: var(--light-text-color-text-1);
}
.number-question5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 265px;
  height: 34px;
  overflow: hidden;
  color: var(--light-text-color-text-3);
}
.label-item-parent6 {
  position: absolute;
  top: 508px;
  left: 415px;
  width: 265px;
  height: 62px;
}
.vip-icon41 {
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 99px;
  width: 15px;
  height: 12px;
  z-index: 4;
}
.label-item24 {
  position: absolute;
  top: calc(50% - 31px);
  left: 0px;
  width: 373px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.select14 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 373px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.bg35 {
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-bg-white);
  border: 2px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.checkbox-input35 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox35 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0px;
  gap: var(--gap-5xs);
}
.checkbox-group7 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-9xs);
  width: 180px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
}
.checkbox-group-wrapper4 {
  position: absolute;
  top: 37px;
  left: 0px;
  border-radius: var(--br-9xs);
  background-color: var(--light-fill-color-bg-white);
  border: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 373px;
  height: 168px;
  overflow: hidden;
  color: var(--light-text-color-text-1);
}
.kindofquestion5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 373px;
  height: 32px;
  overflow: hidden;
  color: var(--light-text-color-text-3);
}
.label-item-parent7 {
  position: absolute;
  top: 508px;
  left: 20px;
  width: 373px;
  height: 62px;
}
.form-createqs4 {
  position: absolute;
  top: 173px;
  left: 0px;
  border-radius: var(--br-5xs);
  background-color: var(--light-fill-color-bg-white);
  box-shadow: var(--shadow-1);
  width: 700px;
  height: 642px;
  overflow-y: auto;
  font-size: var(--cn-regular-size);
  color: var(--light-text-color-text-2);
}
.content49 {
  position: absolute;
  top: 85px;
  left: 370px;
  border-radius: var(--br-5xs);
  width: 700px;
  height: 815px;
  overflow: hidden;
  font-size: var(--cn-medium1-size);
  color: var(--light-fill-color-bg-white);
}
.home {
  position: relative;
  background-color: var(--light-primary-primary-1);
  width: 100%;
  height: 964px;
  text-align: left;
  font-size: var(--cn-regular1-size);
  color: var(--light-text-color-text-2);
  font-family: var(--cn-regular);
}
