.ai5 {
  color: var(--color-yellowgreen);
}
.text174 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.texttext79 {
  position: absolute;
  height: 100%;
  width: 75%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 34.19%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.logo-child2 {
  position: absolute;
  height: 100%;
  width: 30.77%;
  top: 0%;
  right: 69.23%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo5 {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 117px;
  height: 32px;
}
.tipsplus-icon51 {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button46 {
  position: absolute;
  top: 322px;
  left: 0px;
  border-radius: var(--br-81xl);
  background-color: var(--light-success-success-6);
  width: 344px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--light-fill-color-bg-white);
}
.text175 {
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
.tipsquestion-circle-icon49 {
  position: relative;
  width: 16px;
  height: 16px;
}
.icon-wrapper99 {
  align-self: stretch;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text176 {
  position: relative;
  line-height: 22px;
}
.texttext80 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--cn-regular-size);
  color: var(--light-text-color-text-3);
  font-family: var(--font-pingfang-sc);
}
.texttitle24 {
  position: absolute;
  top: calc(50% - 201px);
  left: 0px;
  width: 344px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--cn-regular2-size);
}
.wrapper31 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.addbefore12 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  border-right: 1px solid var(--light-line-color-border-2);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-xs);
}
.addbefore-icon12 {
  position: relative;
  width: 14px;
  height: 14px;
  display: none;
}
.content52 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.spacer79 {
  position: relative;
  width: 4px;
  height: 4px;
}
.spacer78 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.wrapper32 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xs);
  text-align: left;
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.wrapper-icon13 {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.addafter14 {
  align-self: stretch;
  background-color: var(--light-fill-color-fill-2);
  border-left: 1px solid var(--light-line-color-border-2);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-xs);
}
.input15 {
  position: absolute;
  top: 218px;
  left: 0px;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-fill-2);
  width: 344px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-family: var(--font-pingfang-sc);
}
.cursor11 {
  position: relative;
  border-right: 1px solid var(--light-black);
  box-sizing: border-box;
  width: 1px;
  height: 17px;
}
.cursor10 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content- {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.wrapper34 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--light-fill-color-bg-white);
  border: 1px solid var(--light-primary-primary-6);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xs);
  gap: var(--gap-xs);
  text-align: left;
  color: var(--light-text-color-text-3);
  font-family: var(--cn-regular);
}
.input16 {
  position: absolute;
  top: 166px;
  left: 0px;
  border-radius: var(--br-11xs);
  width: 344px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-family: var(--font-pingfang-sc);
}
.icons8-google-1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.ng-nhp-vi {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  cursor: pointer;
}
.icons8-google-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.google {
  position: absolute;
  top: 62px;
  left: 77px;
  border-radius: 10px;
  border: 1px solid var(--light-line-color-border-2);
  box-sizing: border-box;
  width: 190px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs);
}
.text179 {
  position: absolute;
  top: 270px;
  left: 243px;
  line-height: 22px;
  color: var(--light-text-color-text-3);
}
.line-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.divider1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.texttext81 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.divider {
  position: absolute;
  top: 114px;
  left: 0px;
  width: 344px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.text181 {
  position: absolute;
  top: 2px;
  left: 0px;
  line-height: 22px;
}
.editlink-icon {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.link {
  position: absolute;
  top: 0px;
  left: 164px;
  border-radius: var(--br-11xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-9xs);
  gap: var(--gap-9xs);
  color: var(--light-success-success-6);
}
.text-parent {
  position: absolute;
  top: 378px;
  left: 61px;
  width: 222px;
  height: 24px;
  color: var(--light-text-color-text-3);
}
.ng-nhp {
  position: absolute;
  top: 114px;
  left: 178px;
  width: 344px;
  height: 402px;
  font-size: var(--cn-regular-size);
  font-family: var(--cn-regular);
}
.screen-login {
  position: absolute;
  top: 135px;
  left: 370px;
  border-radius: var(--br-5xs);
  background-color: var(--light-fill-color-bg-white);
  box-shadow: var(--shadow-1);
  width: 700px;
  height: 630px;
}
.login {
  position: relative;
  background-color: var(--light-fill-color-bg-white);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--cn-regular2-size);
  color: var(--light-text-color-text-1);
  font-family: var(--en-medium);
}
